:root {
    --primary: #34568B;
    --danger: #FF6F61;
    --success: #009B77;
}

.bg-primary {
    background-color: var(--primary);
    color: #fff;
}

.badge-success {
    background-color: #d9eee1;
    color: var( --success);
    text-transform: uppercase;
    font-weight: bold
}

.badge-danger {
    background-color: #FF6F61;
    color: #9B2335;
    text-transform: uppercase;
    font-weight: bold
}

.inputActive {
    border: 2px solid var(--primary);
}